.errorMessages {
    color: red;
}

#container {
    margin-top: 2%;
}

.content {
    margin-top: 3.2%;
}

.divButton {
    padding: 16px;
    background-color: #b3afaf57;
    width: 16%;
    border-radius: 8px;
}


/* PER ESTETICA LINEA */

.linea {
    border: none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #000000;
    box-shadow: 0 20px 20px -20px rgb(88, 85, 85);
    margin: -50px auto 10px;
    animation: gradientRiga 25s ease infinite;
}


/* BOTTONE EXIT */

#bottoneExit {
    border-radius: 4px;
    background-color: #ec5b6280;
    border: 2px solid #b40009;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
    text-align: center;
}

#bottoneExit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#bottoneExit:hover span {
    padding-right: 25px;
}

#bottoneExit:hover span:after {
    opacity: 1;
    right: 0;
}

#bottoneExit:hover {
    background-color: #b40009;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* BOTTONI FORM */

#buttonForm {
    border-radius: 4px;
    background-color: #5b6aec80;
    border: 2px solid #1b00b46b;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
    text-align: center;
}

#buttonForm span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#buttonForm:hover span {
    padding-right: 25px;
}

#buttonForm:hover span:after {
    opacity: 1;
    right: 0;
}

#buttonForm:hover {
    background-color: #1b00b4a9;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* INPUT TYPE TEXT */

input[type=text] {
    width: auto;
    height: 4%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #1b00b4a9;
}


/* TEXT AREA */

textarea {
    width: auto;
    height: 13%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


/* SELECT */

select {
    width: auto;
    padding: 16px 20px;
    border: 2px solid #1b00b4a9;
    border-radius: 4px;
    background-color: #f1f1f1;
}


/* INPUT TYPE EMAIL */

input[type=email] {
    width: auto;
    height: 4%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #1b00b4a9;
}


/* INPUT TYPE EMAIL */

#meeting-time {
    width: auto;
    padding: 12px 20px;
    border: 2px solid #1b00b4a9;
    border-radius: 4px;
}


/* Parte Responsive per schermi piccolissimi*/

@media screen and (max-width: 300px) {
    #buttonForm {
        width: 100%;
    }
    #bottoneExit {
        width: 100%;
    }
    .content {
        margin-top: 5%;
    }
}