#container2 {
  overflow-x: auto;
  overflow-y: scroll;
  height: 570px;
  width: 35%;
}
#container {
  margin-top: 7%;
}

/* PER ESTETICA LINEAa */

.linea {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #000000;
  box-shadow: 0 20px 20px -20px rgb(88, 85, 85);
  margin: -50px auto 10px;
  animation: gradientRiga 25s ease infinite;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #59c0f349;
}

tr:nth-child(odd) {
  background-color: white;
}

/* BOTTONE INDIETRO */

#i_bback {
  border-radius: 4px;
  background-color: #ec5b6280;
  border: 2px solid #b40009;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#i_bback span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i_bback:hover span {
  padding-right: 25px;
}

#i_bback:hover span:after {
  opacity: 1;
  right: 0;
}

#i_bback:hover {
  background-color: #b40009;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Scrollbar */

/* width */
#container2::-webkit-scrollbar {
  width: 10px;
}

/* Sfondo scroll */
#container2::-webkit-scrollbar-track {
  background: #d3d2d2;
}

/* Colore scroll */
#container2::-webkit-scrollbar-thumb {
  background: rgb(27, 153, 153);
}

/* Colore scroll hover */
#container2::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 109, 109);
}

/* Parte responsive */

@media screen and (max-width: 1000px) {
  #container {
    margin-top: 16%;
  }

  #container2 {
    overflow-x: auto;
    overflow-y: scroll;
    height: 570px;
    width: 60%;
  }
}

@media screen and (max-width: 633px) {
  #container {
    margin-top: 20%;
  }

  #container2 {
    overflow-x: auto;
    overflow-y: scroll;
    height: 570px;
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  #container {
    margin-top: 30%;
  }

  #container2 {
    overflow-x: auto;
    overflow-y: scroll;
    height: 570px;
    width: 60%;
  }
}

@media screen and (max-width: 300px) {
  #container {
    margin-top: 40%;
  }

  #container2 {
    overflow-x: auto;
    overflow-y: scroll;
    height: 570px;
    width: 50%;
  }
}
