#container {
  margin-top: 7%;
}

/* PER ESTETICA LINEA */

.linea {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #000000;
  box-shadow: 0 20px 20px -20px rgb(88, 85, 85);
  margin: -50px auto 10px;
  animation: gradientRiga 25s ease infinite;
}

/* INPUT TYPE EMAIL */

input[type="email"] {
  width: auto;
  height: 4%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #1b00b4a9;
}

/* TEXT AREA */

textarea {
  width: auto;
  height: 13%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* INPUT TYPE DATA EAND TIME */

#datameeting {
  width: auto;
  padding: 10px 18px;
  border: 2px solid #1b00b4a9;
  border-radius: 4px;
}

#orario {
  width: auto;
  padding: 10px 18px;
  border: 2px solid #1b00b4a9;
  border-radius: 4px;
}

/* BOTTONE INDIETRO */

#bottoneIndietro {
  border-radius: 4px;
  background-color: #ec5b6280;
  border: 2px solid #b40009;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#bottoneIndietro span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#bottoneIndietro:hover span {
  padding-right: 25px;
}

#bottoneIndietro:hover span:after {
  opacity: 1;
  right: 0;
}

#bottoneIndietro:hover {
  background-color: #b40009;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* BOTTONE CONFERMA */

#i_confirm {
  border-radius: 4px;
  background-color: #67ec5b80;
  border: 2px solid #00b400;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#i_confirm span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i_confirm:hover span {
  padding-right: 25px;
}

#i_confirm:hover span:after {
  opacity: 1;
  right: 0;
}

#i_confirm:hover {
  background-color: #00b400;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* BOTTONI rubrica */

#i_showrubrica {
  border-radius: 4px;
  background-color: #5b6aec80;
  border: 2px solid #1b00b46b;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 6px 14px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#i_showrubrica span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i_showrubrica:hover span {
  padding-right: 25px;
}

#i_showrubrica:hover span:after {
  opacity: 1;
  right: 0;
}

#i_showrubrica:hover {
  background-color: #1b00b4a9;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* BOTTONI rubricac */

#i_showrubricac {
  border-radius: 4px;
  background-color: #5b6aec80;
  border: 2px solid #1b00b46b;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 6px 14px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#i_showrubricac span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i_showrubricac:hover span {
  padding-right: 25px;
}

#i_showrubricac:hover span:after {
  opacity: 1;
  right: 0;
}

#i_showrubricac:hover {
  background-color: #1b00b4a9;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* BOTTONI i_insertrubrica */

#i_insertrubrica {
  border-radius: 4px;
  background-color: #5b6aec80;
  border: 2px solid #1b00b46b;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 6px 14px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#i_insertrubrica span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i_insertrubrica:hover span {
  padding-right: 25px;
}

#i_insertrubrica:hover span:after {
  opacity: 1;
  right: 0;
}

#i_insertrubrica:hover {
  background-color: #1b00b4a9;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* BOTTONI i_insertrubricac */

#i_insertrubricac {
  border-radius: 4px;
  background-color: #5b6aec80;
  border: 2px solid #1b00b46b;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 6px 14px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  text-align: center;
}

#i_insertrubricac span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#i_insertrubricac:hover span {
  padding-right: 25px;
}

#i_insertrubricac:hover span:after {
  opacity: 1;
  right: 0;
}

#i_insertrubricac:hover {
  background-color: #1b00b4a9;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Parte responsive */

@media screen and (max-width: 1000px) {
  #container {
    margin-top: 30%;
  }
}

@media screen and (max-width: 300px) {
  #container {
    margin-top: 40%;
  }
}
