body{

    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#59c0f349;
    font-family: "Raleway", sans-serif

}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.container{

    width: 1500px;
    height: auto;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;

}

.container .box{

    position: relative;
    background:white;
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
}

.container .box:nth-child(1){

    background:lightslategray;
}

.container .box:nth-child(2){

    background: plum;
}

.container .box:nth-child(3){

    background:lightgreen;
}

.container .box:nth-child(4){

    background:rgb(255, 221, 71);
}

.container .box:nth-child(5){

    background:tomato;
}

.container .box h2{

    position: relative;
    font-size:100px;
    opacity: 0.4;
}

.container .box h3{

    position: relative;
    font-size:18px;
    text-transform: uppercase;
}

/* BOTTONI */

.bottone {
    border-radius: 4px;
    background-color: #5b6aec80;
    border: 2px solid #1b00b46b;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 2px;
    text-align:center;
}

.bottone span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bottone:hover span {
    padding-right: 25px;


}

.bottone:hover span:after {
    opacity: 1;
    right: 0;
}

.bottone:hover{

    background-color: #1b00b4a9;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);


}


/* Parte responsive */

@media screen and (max-width: 1000px) {

    .container{

        margin-top : 30%;

    }

    
}

@media screen and (max-width: 300px) {

    .container{

        margin-top : 40%;

    }
    
}


@media screen and (max-width: 450px) {

    .container{

        margin-top : 30%;

    }


}

@media screen and (max-width: 633px) {

    .container{

        margin-top : 30%;

    }


}

@media screen and (max-width: 1459px) {

    .container{

        margin-top : 10%;

    }


}